/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/





#header{
    
    color: #F3F9FF;
    text-align: center;
    font-family: Arial;
    font-size: 400%;
    position: relative;
    
}

#banner{
    
    color: #F3F9FF;
    text-align: center;
    font-family: "Freestyle Script";
    font-size: 200%;

}

#Upload{
    position: relative;
    top: 50px;
    cursor:pointer;
    width:400px;
    height:400px;
    float:left;
    border: 3px solid #FFF;    
}

#Upload{
    
    background-image: url('http://i.imgur.com/ruWDeji.jpg');
    
}

#Upload:hover{
    

    background-image: url('http://i.imgur.com/16D4xyP.jpg');
    
    
    
    
}

